$WHITE: #fff;
$LIGHT_GRAY: #D3D3D3;
$GRAY: #AEAEAE;
$DARK_GRAY: #7B7B7B;
$RED: #B01B1B;
$DARK_RED: #4C0606;
$LIGHT_BLACK: #00000040;
$BLACK: #2E2E2E;
$OVERLAY: #0000004D;

$BGC_MAIN: $WHITE;

$TEXT_MAIN: $BLACK;
$TEXT_DESCRIPTION: $DARK_GRAY;

$ERROR: $RED;

$SCROLLBAR: $LIGHT_BLACK;

$SECONDARY_DATA: $GRAY;