@use '@/shared/styles/mixins' as mixins;
@use '@/shared/styles/variables' as variables;

.SUser {
    width: 524px;
    display: grid;
    grid-template-columns: max-content auto max-content;
    column-gap: 20px;

    .SUserImg {
        width: 119px;
        height: 116px;

        object-fit: cover;
    }

    .SUserData {
        display: grid;
        grid-template-rows: auto max-content;
        row-gap: 30px;

        .SUserName {
            @include mixins.font-montserrat-m-bold;
            text-align: end;
        }

        .SUserDate {
            color: variables.$SECONDARY_DATA;
            @include mixins.font-montserrat-m-medium;
            text-align: end;
        }
    }

    @media screen and (max-width: variables.$small) {
        padding: 0 10px;
        width: 100%;
    }
}