@use '@/shared/styles/mixins' as mixins;
@use '@/shared/styles/variables' as variables;

.SForbidden {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .STitle {
        @include mixins.font-montserrat-xl-bold;
        color: variables.$TEXT_MAIN;
    }

    .SMessage {
        @include mixins.font-montserrat-m-medium;

        display: flex;
        gap: 8px;
    }
}