@use '@/shared/styles/mixins' as mixins;
@use '@/shared/styles/variables' as variables;

.SMainLayout {
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;

    @media screen and (max-width: 1439px) {
        padding: 0 10px;
    }

    .SChildren {
        margin-top: 50px;
    }
}